*{
	box-sizing: border-box;
}

body{
	height: 100vh;
}

.container{
	max-width: 1200px;
	padding: 10px 30px;
}

/*========== HEADER ==========*/



/*========== CANVAS ==========*/
.c1{
	background-color: #000;
}



/*========== BOTTOM ==========*/
.letters{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.letter{

}