*{
	box-sizing: border-box;
}

body{
	height: 100vh;
	background-color: #c45200;
}

.container{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
	display: flex;
}

/*========== START ==========*/
.start{
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 100;
	background-color: #c45200;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.text{
	color: #fff;
	line-height: 98px;
	font-size: 96px;
	font-weight: 700;	
}

.start-btn{
	position: relative;
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
	width: 20vh;
	height: 20vh;
	background-color: #c45200;
	border: 15px solid #fff;
	border-radius: 20vh;
	background-image: url(../images/right.png);
	background-repeat: no-repeat;
	background-size: contain;
}


/*========== HEADER ==========*/
.title{
	color: #fff;
	line-height: 98px;
	font-size: 96px;
	font-weight: 700;
}


/*========== CANVAS ==========*/
.c1{
	display: block;
	background-color: #e15200;
	width: 100%;
	height: 100vh;
}

.canv{
	flex: 1;
}



/*========== BOTTOM ==========*/
.bottom{
	flex: 1;
	padding: 0 50px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.word{
	text-transform: uppercase;
	color: #fff;
	font-size: 46px;
	line-height: 46px;
	font-weight: 600;
}

.letters{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.key{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
	width: 50px;
	height: 50px;
	background-color: #e15200;
	border: 3px solid #fff;
	border-radius: 100px;	
}

.able:active{
	transform: scale(0.8);
}

.clicked{
	color: #aaa;
	background-color: #e3783b;
	border: 2px solid #aaa;

}


@media only screen and (max-device-width: 410px){
	.title{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.container{
		flex-direction: column;
	}

	.canv{
		height: 100vh;
		width: 100%;
	}

	.c1{
		height: 100vh;
		width: 100%;
	}

	.bottom{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px;
		height: 20vh;
	}

	.letters{
		margin-top: 20px;
		background-color: #e15200; 
	}

	.key{
		margin: 5px;
		padding: 10px;
		background-color: #e68a00;
		font-size: 28px;
		width: 70px;
		height: 70px;
		line-height: 32px;
	}
}

@media only screen and (min-device-width: 411px) and (max-device-width: 760px){

}

@media only screen and (min-device-width: 761px) and (max-device-width: 1001px){

}