*{
	box-sizing: border-box;
}

body{
	height: 100vh;
	background-color: #c45200;
}

.container{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
	display: flex;
}

/*========== HEADER ==========*/
.title{
	color: #fff;
	line-height: 98px;
	font-size: 96px;
	font-weight: 700;
}


/*========== CANVAS ==========*/
.c1{
	background-color: #e15200;
	width: 100%;
	height: 100vh;
}

.canv{
	flex: 1;
}



/*========== BOTTOM ==========*/
.bottom{
	flex: 1;
	padding: 0 50px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.word{
	text-transform: uppercase;
	color: #fff;
	font-size: 46px;
	line-height: 46px;
	font-weight: 600;
}

.letters{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.key{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
	width: 50px;
	height: 50px;
	background-color: #fcdf03;
	border: none;
	border-radius: 100px;	
}


@media only screen and (max-device-width: 410px){
	.title{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.container{
		flex-direction: column;
	}

	.canv{
		height: 60vh;
		width: 100%;
	}

	.c1{
		height: 60vh;
		width: 100%;
	}

	.bottom{
		padding: 20px;
		height: 500px;
	}
	
	.key{
		font-size: 24px;
		font-weight: 600;
		width: 100px;
		height: 100px;
	}
}

@media only screen and (min-device-width: 411px) and (max-device-width: 760px){

}

@media only screen and (min-device-width: 761px) and (max-device-width: 1001px){

}
